<div class="container weather-cont">
    <div class="jumbotron">
        <div class="row-fluid">
            <div class="row">
                <div class="col-xs-3 col-md-2 country">
                    <h2>Belarus</h2>
                </div>
                <div class="col-xs-3 col-md-2 city">
                    <h2>Grodno</h2>
                </div>
                <div class="col-xs-3 col-md-2 col-md-offset-2 date">
                    <h2>20.03.2015</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6 last-update">
                    <div class="tempreture-font">
                        13°C
                    </div>
                </div>
                <div class="col-xs-6 col-md-6 time">
                    <h1>6:22</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6temperature">
                    <h1>Updated two hours past.</h1>
                </div>
            </div>
        </div>
    </div>
</div>